<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<meta name="theme-color" content="#121212">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<body class="body">


<div id="app-test">
		<!--mengambil "msg" dari vue-->
Hasilnya ==> <p :style="{ color }"> {{msg}}<br>{{msg2}}</p>
<button class="btn btn-raised btn-secondary" @click="balik()">Balik teks</button> 
<button class="btn btn-raised btn-secondary" @click="gantiwarna()">ubah warna</button> 
<button class="btn btn-raised btn-secondary" @click="msg += '?'">tambah '?'</button> 
<br>
	<button class="btn btn-raised btn-warning" @click="alertbox()">Munculkan Allert</button> 
<br>
<button class="btn btn-raised btn-primary" @click="angka++">Tambah</button> 
<button class="btn btn-raised btn-secondary" @click="angka += '0'">+1 digit</button>
<button class="btn btn-raised btn-secondary" @click="angka = '0'">reset</button>
<button class="btn btn-raised btn-danger" @click="angka--">Kurang</button>

<div class="total-angka">{{angka}}</div>
<a href="https://mininproject.xyz" @click.prevent="dilarang">Click to Continue</a>
<p id="test">iya? atau tidak? : {{ msg ? 'iya' : 'tidak' }}</p>



                                      <!--tanda seru "!" adalah lawan boolean true false-->
<button class="btn btn-secondary" @click="show = !show"><span @Click="toggleList()">{{togglelist}}</span></button>
  <button class="btn btn-secondary" @click="list.pop()">-1</button>  <!--pop untuk mengurangi-->
  <button class="btn btn-secondary" @click="list.push(list.length + 1)">+1</button> <!--push untuk menambah-->
 <button class="btn btn-secondary" @click="list.reverse()">Balik Daftar</button>


<!--show=true, list[...array...]-->
<ul v-if="show && list.length">
	<!--item dari list-->
    <li v-for="item of list">{{ item }}</li>
  </ul>
 
 
 
 
 
 <h2>Cheat</h2>
  <input type="checkbox" value="Auto Eat" v-model="checkedNames">
  <label for="jack">Auto Eat</label>&nbsp;
  <input type="checkbox" value="Unlimited Money" v-model="checkedNames">
  <label for="john">Unlimited Money</label>&nbsp;
  <input type="checkbox" value="Infinite Food" v-model="checkedNames">
  <label for="mike">Infinite Food</label>&nbsp;
  <p>Cheats Active: <pre>{{ checkedNames }}</pre></p>

  <h2>Masukan nama kamu</h2>
  <input v-model="text">
<h3>{{'halo, ' + text }}</h3>
 
<br>
  <h2>Pilih ruang makan</h2>
  <input type="radio" value="Standard" v-model="picked">
  <label for="one">Standard</label>
  <br>
  	 <input type="radio" value="Backroom" v-model="picked">
  <label for="two">Backroom</label>
  <br>
  	<input type="radio" value="Limbo" v-model="picked">
  <label for="two">Limbo</label>
  <br>
  <span>Ruangan Kamu : {{ picked }}</span>
  
  <br><br>
     <h2>Pilih Bumbu</h2>
  <select v-model="selected">
    <option disabled value="">Pilih rasa</option>
    <option>Manis</option>
    <option>Hambar</option>
    <option>Pedas biasa</option>
    <option>Pedas ndower</option>
    <option>Pedas setan</option>
  </select><br>
  <span>Bumbu kamu : {{ selected }}</span>
<br><br>

  <h2>Pilih Menu </h2>
  <select v-model="multiSelected" multiple style="width:100px">
    <option>Bakso</option>
    <option>Mie Ayam</option>
    <option>Es Teh</option>
  </select><br>
  <span>Pesananmu:<br> {{ multiSelected }}</span>
</div>


</div>


<br><br><br><br><br><br>

<script type="module" src="komponen.js"></script>



<style>
	* {padding:2px;
 text-selection:none;
 selection:none;
 color:#fff;}
	body, .body {
		background:#000;
		}
	.total-angka {
		font-size:50px;
		}
	#app-test {
		font-size:16px;
		}
	.btn {margin:3px;}
	.btn-green {
		background-color: #4CAF50;
	}
	input, select {color:#121212;}
	input {padding:2px;}
</style>




